* {
    box-sizing: border-box;
}

body {
    background-color: #4A4A49;
}

/*common*/
.container {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    padding: 30px 30px;
    color: #FBBB21;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 435px) {
    h1 {
        font-size: 75px;
        border: 2px solid #FBBB21;
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 1%;
        padding: 20px 20px;
    }
}


@media screen and (min-width: 436px) and (max-width: 600px) {
    h1 {
        font-size: 75px;
        border: 2px solid #FBBB21;
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 1%;
        padding: 30px 30px;
        letter-spacing: 5px;
    }
}

.form {
    width: 49%;
    text-align: center;
    font-size: 20px;
    border: 2px solid #FBBB21;
    float: left;
    border-radius: 5px;
    height: 80vh;
}

@media screen and (max-width: 435px) {
    .form {
        width: 98%;
        height: 205vh;
        display: block;
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media screen and (min-width: 436px) and (max-width: 600px) {
    .form {
        width: 98%;
        height: 264vh;
        display: block;
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

.form button {
    padding: 10px 10px;
    text-transform: uppercase;
    margin: 20px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #BDBDBD;
    color: #FFFFFF;
}

@media screen and (max-width: 435px) {
    .form button {
        width: 500px;
        height: 100px;
        padding: 10px 10px;
        text-transform: uppercase;
        margin: 20px;
        font-size: 50px;
        border-radius: 15x;
    }
}

@media screen and (min-width: 436px) and (max-width: 600px) {
    .form button {
        width: 500px;
        height: 100px;
        padding: 10px 10px;
        text-transform: uppercase;
        margin: 20px;
        font-size: 50px;
        border-radius: 15x;
    }
}

.form button:hover {
    background-color: #FFFFFF;
    color: #4A4A49;
    transition-duration: .8s;
}

.signCheckbox {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 435px) {
    .signCheckbox {
        width: 80px;
        height: 80px;
    }
}

@media screen and (min-width: 436px) and (max-width: 600px) {
    .signCheckbox {
        width: 80px;
        height: 80px;
    }
}

.important {
    color: #FBFBFA;
}

@media screen and (max-width: 435px) {
    .important {
        font-size: 50px;
    }
}

@media screen and (min-width: 436px) and (max-width: 600px) {
    .important {
        font-size: 50px;
        letter-spacing: 5px;
    }
}

input {
    margin: 0 auto;
    margin-top: 5px;
    padding: 10px 10px;
    font-size: 20px;
    display: block;
    text-align: center;
    border: 1px solid #FBFBFA;
    background-color: #4A4A49;
    color: #FBFBFA;
    border-radius: 5px;
}

@media screen and (max-width: 435px) {
    input {
        width: 600px;
        height: 100px;
        margin-top: 10px;
        font-size: 50px;
    }
}

@media screen and (min-width: 436px) and (max-width: 600px) {
    input {
        width: 700px;
        height: 115px;
        margin-top: 10px;
        font-size: 50px;
    }
}

::-webkit-input-placeholder {
    color: #FBFBFA;
}

::-moz-placeholder {
    color: #FBFBFA;
}

/* firefox 19+ */
:-ms-input-placeholder {
    color: #FBFBFA;
}

/* ie */

.selectCategoryContact {
    margin-top: 20px;
    border-radius: 5px;
    background-color: #4A4A49;
    color: #FBFBFA;
    padding: 5px;
}

@media screen and (max-width: 435px) {
    .selectCategoryContact {
        width: 600px;
        height: 100px;
        font-size: 50px;
        padding: 5px;
        padding-left: 40px;
    }
}

@media screen and (min-width: 436px) and (max-width: 600px) {
    .selectCategoryContact {
        width: 700px;
        height: 115px;
        font-size: 50px;
        padding: 5px;
        padding-left: 150px;
    }
}

.selectCategoryContact:hover {
    background-color: #FFFFFF;
    color: #4A4A49;
    transition-duration: .8s;
}

.contactList {
    width: 49%;
    height: 80vh;
    border-radius: 5px;
    text-align: center;
    border: 2px solid #FBBB21;
    float: right;
    position: relative;
}

@media screen and (max-width: 435px) {
    .contactList {
        width: 98%;
        min-height: 135vh;
        height: auto;
        display: block;
        margin: 1%;
        padding-bottom: 2%;
        border: 2px solid #FBBB21;
    }
}

@media screen and (min-width: 436px) and (max-width: 600px) {
    .contactList {
        width: 98%;
        min-height: 110vh;
        height: auto;
        display: block;
        margin: 1%;
        padding-bottom: 2%;
    }
}

h2 {
    font-size: 30px;
    margin: 0 auto;
    padding: 30px 30px;
    color: #FBBB21;
}

@media screen and (max-width: 435px) {
    h2 {
        font-size: 60px;
        padding: 10px 10px;
    }
}

@media screen and (min-width: 436px) and (max-width: 600px) {
    h2 {
        font-size: 60px;
        padding: 35px 35px;
        letter-spacing: 5px;
    }
}

.contactListData {
    padding: 20px 20px;
    color: #FBFBFA;
    font-size: 20px;
}

@media screen and (max-width: 435px) {
    .contactListData {
        padding-top: 10px;
        color: #FBFBFA;
        font-size: 50px;
    }
}

@media screen and (min-width: 436px) and (max-width: 600px) {
    .contactListData {
        padding-top: 10px;
        color: #FBFBFA;
        font-size: 50px;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

td {
    padding-top: 7px;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    font-family: 'Amaranth', sans-serif;
}

@media screen and (max-width: 435px) {
    td {
        font-size: 40px;
        padding: 7px;
    }
}

@media screen and (min-width: 436px) and (max-width: 600px) {
    td {
        font-size: 40px;
        padding: 7px;
    }
}

.tdEmail {
    width: 160px;
    word-wrap: break-word;
}

@media screen and (max-width: 435px) {
    .tdEmail {
        width: 200px;
    }
}

@media screen and (min-width: 436px) and (max-width: 600px) {
    .tdEmail {
        width: 200px;
    }
}

.tdPhone {
    width: 95px;
    word-wrap: break-word;
}

@media screen and (max-width: 435px) {
    .tdPhone {
        width: 200px;
    }
}

@media screen and (min-width: 436px) and (max-width: 600px) {
    .tdPhone {
        width: 200px;
    }
}


/******************************************************/

button.addContactButton {
    background-color: #BDBDBD;
    color: #FFFFFF;
    border-radius: 15px;
}


@media screen and (max-width: 435px)  {
    button.addContactButton {
        width: 600px;
        height: 100px;
        font-size: 50px;
    }
}

@media screen and (min-width: 436px) and (max-width: 600px) {
    button.addContactButton {
        width: 700px;
        height: 115px;
        font-size: 50px;
    }
}

/**********************************************************/

button.addContactButton:hover {
    background-color: #FFFFFF;
    color: #4A4A49;
    transition-duration: .8s;
}





